name: AZD Deployment
on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      AZURE_CLIENT_ID: ${{ vars.AZURE_CLIENT_ID }}
      AZURE_TENANT_ID: ${{ vars.AZURE_TENANT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}
      AZURE_RESOURCE_GROUP: ${{ vars.AZURE_RESOURCE_GROUP }}
      AZURE_ENV_NAME: ${{ vars.AZURE_ENV_NAME }}
      AZURE_LOCATION: ${{ vars.AZURE_LOCATION }}
      AZURE_USER_OBJECT_ID: ''
      # Infrastructure parameter defaults for pipeline
      AZURE_ACR_ENABLED: 'false'
      AZURE_API_MANAGEMENT_ENABLED: 'false'
      AZURE_AI_CONTENT_SAFETY_ENABLED: 'false'
      AZURE_AI_DOC_INTELLIGENCE_ENABLED: 'false'
      AZURE_AI_LANGUAGE_ENABLED: 'false'
      AZURE_AI_SEARCH_ENABLED: 'true'
      AZURE_AI_SPEECH_ENABLED: 'false'
      AZURE_AI_TRANSLATOR_ENABLED: 'false'
      AZURE_AI_VISION_ENABLED: 'false'
      AZURE_APP_SAMPLE_ENABLED: 'false'
      AZURE_COSMOS_DB_ENABLED: 'true'
      AZURE_NETWORK_ISOLATION: 'false'
      AZURE_SQL_SERVER_ENABLED: 'false'
      AZURE_AI_DEPLOYMENTS_LOCATION: ${{ vars.AZURE_LOCATION }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install azd
        uses: Azure/setup-azd@v2
      - name: Azure Developer CLI Login
        run: |
          azd auth login `
            --client-id "$Env:AZURE_CLIENT_ID" `
            --federated-credential-provider "github" `
            --tenant-id "$Env:AZURE_TENANT_ID" 
        shell: pwsh
      - name: Azure CLI Login
        uses: azure/login@v2
        with:
          client-id: ${{ vars.AZURE_CLIENT_ID }}
          tenant-id: ${{ vars.AZURE_TENANT_ID }}
          subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}
      - name: Provision Infrastructure
        run: azd provision --no-prompt
        env:
           AZD_INITIAL_ENVIRONMENT_CONFIG: ${{ secrets.AZD_INITIAL_ENVIRONMENT_CONFIG }}
